<!DOCTYPE html>
<html lang="nl" data-bs-theme="light">
<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport" />
  <title><%= title || 'AVTool' %></title>
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/Nunito.css" />
  <link rel="stylesheet" href="/css/bss-overrides.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css" />
</head>
<body class="bg-light d-flex align-items-center" style="min-height:100vh;">
  <main class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5">
        <%- body %>
      </div>
    </div>
  </main>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/js/theme.js"></script>
</body>
</html>
